
{module, mysql_test,
    [
    {attrs, key,    int,            12, 0,   "主键"},
    {attrs, type,   int,            12, 0,   "类型1"},
    {attrs, term,   term_varchar,   12, [],  "类型2"}
    {attrs, string, varchar,        20, "",  "类型3"}
    {attrs, term,   term_varchar,   12, [],  "类型4"}
    ],
    [key, type],
    [type],
    innodb
}.


{proto, proto_test,
    [
    {attrs, key,    undefined,  "主键"},
    {attrs, type,   undefined,  "类型1"}
    ],
    [key, type],
    [type]
}.