
{module_define, mysql_test,
    [
    {columns_define, key,    int,            12, 0,  notnull, "主键"},
    {columns_define, type,   int,            12, 0,  notnull, "类型1"},
    {columns_define, term,   term_varchar,   12, [],    null, "类型2"},
    {columns_define, string, varchar,        20, "", notnull, "类型3"},
    {columns_define, term2,   term_varchar,   12, [],    null, "类型4"},
    {columns_define, term3,   timestamp,   12, [],    null, "类型4"}
    ],
    [key, type],
    [type],
    innodb
}.

{module_define, mysql_test1,
    [
    {columns_define, key,    int,            12, 0,  notnull, "主键"},
    {columns_define, type,   int,            12, 0,  notnull, "类型1"},
    {columns_define, term,   term_varchar,   12, [],    null, "类型2"},
    {columns_define, string, varchar,        20, "", notnull, "类型3"},
    {columns_define, term2,   term_varchar,   12, [],    null, "类型4"},
    {columns_define, term3,   timestamp,   12, [],    null, "类型4"}
    ],
    [key, type],
    [type],
    innodb
}.


{proto_define, proto_test,
    [
    {attr_define, key,    undefined,  "主键"},
    {attr_define, type,   undefined,  "类型1"}
    ],
    [key, type],
    set
}.