%%
%%-record(module_define, {module_name, columns, primary_key, index, engine}).

%%
%%-record(columns_define, {col_name, type, auto_increment, is_null, default, description}).

{module_define, test,
    [{columns_define, id, bigint, false, false, 0, "Id"},
    {columns_define, name, char, false, true, "", "Name"},
    {columns_define, gender, smallint, false, true, 0, "Gender"}],
    [id, name],
    [id, name, gender],
    innoDB
}.